* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
}

#root {
  min-height: 100vh;
  display: flex;

  --sunway-blue: #03436d;
  --sunway-dark-blue: #03356d;
  --sunway-orange: #f06800;

}
