* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

#root {
  min-height: 100vh;
  display: flex;

  --sunway-blue: #03436d;
  --sunway-dark-blue: #03356d;
  --sunway-orange: #f06800;
  --sunway-white: #f7f7f7;

  animation: slideFadeIn 1.5s
}



@keyframes slideFadeIn {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}




